<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="joy"                  default="false"/>
  <arg name="joy_dev"              default="/dev/input/js0"/>
  <arg name="key_linear_x_speed"   default="0.5"/>
  <arg name="key_autorepeat_rate"  default="20.0"/>

  <!-- Joy & Key teleop -->
  <group if="$(arg joy)">
    <include file="$(find raspicat_gamepad_controller)/launch/logicool.launch">
      <arg name="dev" value="$(arg joy_dev)"/>
    </include>
  </group>

  <group unless="$(arg joy)">
    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"
      args="_speed:=$(arg key_linear_x_speed) _repeat_rate:=$(arg key_autorepeat_rate)"
      required="true" output="screen"/>
  </group>
</launch>