<?xml version="1.0"?>
<launch>
  <arg name="imu" default="false" />
  <arg name="imu_serial_port" default="/dev/ttyACM0" />
  <arg name="joy_dev" default="/dev/input/js0" />

  <!-- raspicat_ros -->
  <include file="$(find raspicat_bringup)/launch/raspicat_bringup.launch">
    <arg name="imu" value="$(arg imu)" />
    <arg name="imu_serial_port" value="$(arg imu_serial_port)" />
  </include>

  <!-- joy_node -->
  <include file="$(find raspicat_gamepad_controller)/launch/logicool.launch">
    <arg name="dev" value="$(arg joy_dev)" />
  </include>

  <include file="$(find raspicat_gamepad_controller)/launch/smooth.launch" />

</launch>
