name: CI

on:
  push:
    branches:
      - '**-devel' 
      - 'master'
      - 'main'
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - '**-devel' 
      - 'master'
      - 'main'
    paths-ignore:
      - '**.md'
  schedule:
    - cron: "0 2 * * 0" # Weekly on Sundays at 02:00

jobs:
  industrial_ci:
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        env:
          - { ROS_DISTRO: melodic, ROS_REPO: main, UPSTREAM_WORKSPACE: '.ci.repos' }
        experimental: [false]
        include:
          - env: { ROS_DISTRO: melodic, ROS_REPO: testing, UPSTREAM_WORKSPACE: '.ci.repos'  }
            experimental: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: "ros-industrial/industrial_ci@master"
        env: ${{ matrix.env }}

  catkin_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ros_distribution:
          - melodic
          - noetic

        # Define the Docker image(s) associated with each ROS distribution.
        # The include syntax allows additional variables to be defined, like
        # docker_image in this case. See documentation:
        # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#example-including-configurations-in-a-matrix-build
        #
        # Platforms are defined in REP 3, and REP 2000:
        # https://ros.org/reps/rep-0003.html
        # https://ros.org/reps/rep-2000.html
        include:
          # Melodic Morenia (May 2018 - May 2023)
          - docker_image: ros:melodic-ros-base-bionic
            ros_distribution: melodic
            ros_version: 1
          # Noetic Ninjemys (May 2020 - May 2025)
          - docker_image: ros:noetic-ros-base-focal
            ros_distribution: noetic
            ros_version: 1

    container:
      image: ${{ matrix.docker_image }}
    steps:
      - uses: actions/checkout@v3

      - name: Post setup (Noetic)
        if: ${{ matrix.ros_distribution == 'noetic' }}
        run: |
          apt-get update
          apt-get install -y python3-catkin-tools python3-osrf-pycommon python3-vcstool
      - name: Post setup (Melodic)
        if: ${{ matrix.ros_distribution == 'melodic' }}
        run: |
          apt-get update
          apt-get install -y python-catkin-tools python3-vcstool

      - name: Prepare test
        run: |
          apt-get install -y rsync git
          rosdep update --include-eol-distros
          mkdir -p ~/catkin_ws/src
          rsync -av --exclude='.git/' ./ ~/catkin_ws/src/raspicat_ros/
          cd ~/catkin_ws/src
          vcs import < raspicat_ros/.ci.repos

      - name: Run test
        run: |
          . /opt/ros/${{ matrix.ros_distribution }}/setup.sh
          cd ~/catkin_ws
          rosdep install -r -y -i --from-paths .
          catkin init
          catkin build
          catkin run_tests --no-deps raspicat
          ls -d ~/catkin_ws/build/raspicat* | xargs -I{} catkin_test_results --verbose {} || exit 1